Repository wasrazki/ecommerce-website: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml, azure-pipelines-petstorepetservice-ci-cd-to-aks.yml, azure-pipelines.yml

azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - petstore/petstoreorderservice/*

resources:
- repo: self

variables:
  imageRepository: 'petstoreorderservice'
  containerRegistry: 'mypetstoreecr.azurecr.io'
  dockerfilePath: 'petstore/petstoreorderservice/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: 'MyAgentPool'
      demands:
        - agent.name -equals MyAgent
    steps:
    - script:  echo -n -e "{\"version\":\"$(Build.BuildNumber) - $(tag)\"}" > petstore/petstoreorderservice/src/main/resources/version.json

    - task: Docker@2
      displayName: Build an image
      inputs:
        containerRegistry: 'acr-azure-devops-connection'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '$(dockerfilePath)'
        tags: |
          $(tag)
          latest

azure-pipelines-petstorepetservice-ci-cd-to-aks.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
    - main
  paths:
    include:
      - petstore/petstorepetservice/*
 

resources:
- repo: self

variables:
  imageRepository: 'petstorepetservice'
  containerRegistry: 'mypetstoreecr.azurecr.io'
  dockerfilePath: 'petstore/petstorepetservice/Dockerfile'
  tag: '$(Build.BuildId)'
  

stages:
- stage: Build
  displayName: Build 
  
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: 'MyAgentPool'
      demands:
        - agent.name -equals 'MyAgent' 
    steps:

    - script: echo -n -e "{\"version\":\"$(Build.BuildNumber) - $(tag)\"}" > petstore/petstorepetservice/src/main/resources/version.json 
    

    - task: Docker@2
      displayName: Build an image and Push to ACR 
      inputs:
        containerRegistry: 'acr-azure-devops-connection'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '$(dockerfilePath)'
        tags: |
          $(tag)
          latest

azure-pipelines.yml:

# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
     - main
  paths:
    include:
      - petstore/petstoreproductservice/*

resources:
- repo: self

variables:
  imageRepository: 'petstoreserviceproduct'
  containerRegistry: 'mypetstoreecr.azurecr.io'
  dockerfilePath: 'petstore/petstoreproductservice/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: 'MyAgentPool'
      demands:
        - agent.name -equals MyAgent
    steps:
    - script: echo -n -e "{\"version\":\"$(Build.BuildNumber) - $(tag)\"}" > petstore/petstoreproductservice/src/main/resources/version.json

    - task: Docker@2
      displayName: Build an image and Push to ACR
      inputs:
        containerRegistry: 'acr-azure-devops-connection'
        repository: '$(imageRepository)'
        command: 'buildAndPush'
        Dockerfile: '$(dockerfilePath)'
        tags: |
          $(tag)
          latest

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml for Azure Pipelines
  azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml
Due: none

Update azure-pipelines-petstorepetservice-ci-cd-to-aks.yml for Azure Pipelines
  azure-pipelines-petstorepetservice-ci-cd-to-aks.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

added the application insight instrumentation key
  petstore/petstoreapp/src/main/resources/application.yml
Due: none

adding application insight instrumentation key
  petstore/petstoreproductservice/src/main/resources/application.yml
Due: azure-pipelines.yml

adding application insight instrumentation key
  petstore/petstorepetservice/src/main/resources/application.yml
Due: azure-pipelines-petstorepetservice-ci-cd-to-aks.yml

adding application insight instrumentation key
  petstore/petstoreorderservice/src/main/resources/application.yml
Due: azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml

adding application insight instrumentation key
  petstore/petstoreproductservice/aks-petstoreproductservice.yml
Due: azure-pipelines.yml

added the application insigh
  petstore/petstoreproductservice/aks-petstoreproductservice.yml
Due: azure-pipelines.yml

added the application insigh
  petstore/petstorepetservice/aks-petstorepetservice.yml
Due: azure-pipelines-petstorepetservice-ci-cd-to-aks.yml

added the application insigh
  petstore/petstoreorderservice/aks-petstoreorderservice.yml
Due: azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml

updated the pom.xml file
  petstore/petstoreorderservice/pom.xml
Due: azure-pipelines-petstoreorderservice-ci-cd-to-aks.yml

updated the pom.xml file
  petstore/petstorepetservice/pom.xml
Due: azure-pipelines-petstorepetservice-ci-cd-to-aks.yml

updated the pom.xml file
  petstore/petstoreproductservice/pom.xml
Due: azure-pipelines.yml

added the b2c authentication in application.yml
  petstore/petstoreapp/src/main/resources/application.yml
Due: none

added the b2c authentication in application.yml
  petstore/petstoreapp/pom.xml
Due: none

added the b2c authentication in application.yml
  petstore/petstoreapp/pom.xml
  petstore/petstoreapp/src/main/resources/application.yml
Due: none
